@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

main {
  font-family: "Inter", sans-serif;
  background-color: #fafbfd;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e8974d;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-rechts {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.nav-rechts > a {
  display: flex;
  font-weight: bold;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  color: inherit;
  text-decoration: none;
  font-family: "Inter", sans-serif;

  &:first-child {
    border-right: 0.5px solid #000;
  }
}

h1 {
  margin-top: 0;
}
